<h1>Escolha um dojo</h1>

<div id="dojo">
<ul>
  <% @dojos.each do |dojo| %>
    <li><%= link_to(dojo.name, dojo_url(dojo))%></li>
  <% end %>
</ul>
</div>
<h2><%= link_to("Ou crie o seu", new_dojo_url)%></h2>